body {
  background-color: #9370db; /* Change this to your desired color */
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

.parameter {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: bold;
}
